
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
span{
    color:aqua;
}
a{
    color: rgb(10, 103, 241) !important;
    // text-decoration: none;
    // font-size: 20px;
}
